# 데이터 전처리 예제 1

* **데이터 설명**
  * 본 데이터는 A대학 도서관에서 제공하는 온라인 DB에 대한 사용자별 이용기록(Transaction)입니다.
  * user_id : 사용자ID
  * region : 지역코드
  * college : 단과대학코드
  * major : 전공코드
  * social_position : 직급코드
  * month : 이용월
  * weekday : 이용요일(1:일요일, 2:월요일, 3:화요일, 4:수요일, 5:목요일, 6:금요일, 7:토요일)
  * hour : 이용시각(24H)
  * DB : 이용 온라인 DB

### 0.0. 필요한 패키지를 로딩하세요

In [14]:
import pandas as pd
import numpy as np

## 1. 데이터 로딩 및 문제 파악하기

### 1.1. 데이터를 로딩하고 처음 5개의 레코드를 출력하세요.

In [15]:
data_01 = pd.read_csv('DATA_01.csv')

### 1.2. 변수별 데이터 타입을 알아볼 수는 코드를 제시하고 문제점이 있을 경우 서술하세요.

In [16]:
data_01 = pd.read_csv('DATA_01.csv')
data_01.head(5)

  user_id region college major social_position  month  weekday  hour     DB
0   U0002    R01   C0002   M09            S005    3.0        3    21  DB048
1   U0003    R01   C0003   M01            S001    3.0        2    12  DB048
2   U0003    R01   C0003   M01            S001    3.0        2    13  DB048
3   U0006    R01   C0001   M11            S005    3.0        2    14  DB055
4   U0005    R01   C0001   M08            S005    3.0        2    14  DB044

### 1.3. 수치형 변수의 요약 통계량을 제시하세요.

In [17]:
data_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76806 entries, 0 to 76805
Data columns (total 9 columns):
user_id            76806 non-null object
region             76806 non-null object
college            76806 non-null object
major              75610 non-null object
social_position    76806 non-null object
month              75772 non-null float64
weekday            76806 non-null int64
hour               76806 non-null int64
DB                 76805 non-null object
dtypes: float64(1), int64(2), object(6)
memory usage: 5.3+ MB

In [18]:
# describe() 활용
data_01.describe().T

           count       mean       std  min   25%   50%   75%   max
month    75772.0   6.592831  3.339591  1.0   4.0   6.0  10.0  12.0
weekday  76806.0   3.846614  1.863474  1.0   2.0   4.0   5.0   7.0
hour     76806.0  13.719748  6.742292  0.0  10.0  14.0  19.0  30.0

### 1.4. 범주형 변수의 요약 통계량을 제시하세요.

In [19]:
data_01.describe(include=[np.object, pd.Categorical]).T

                 count unique    top   freq
user_id          76806   5067  U0061   1988
region           76806      3    R01  72874
college          76806     72  C0001  34545
major            75610     11    M04  18243
social_position  76806      8   S005  26800
DB               76805     73  DB048  15379

## 2. 데이터의 문제 수정하기

### 2.1. NULL값이 존재하는 변수 중 범주형 변수의 NULL값을 'UNKNOWN'으로 대체하고 처리 결과를 제시하세요.

In [20]:
data_01['major'] = data_01['major'].fillna('UNKNOWN')
data_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76806 entries, 0 to 76805
Data columns (total 9 columns):
user_id            76806 non-null object
region             76806 non-null object
college            76806 non-null object
major              76806 non-null object
social_position    76806 non-null object
month              75772 non-null float64
weekday            76806 non-null int64
hour               76806 non-null int64
DB                 76805 non-null object
dtypes: float64(1), int64(2), object(6)
memory usage: 5.3+ MB

### 2.2. NULL값이 존재하는 변수 중 수치형 변수의 NULL값은 제거하고 처리 뒤 데이터의 행과 열을 제시하세요.

In [21]:
data_01 = data_01.dropna(subset=['month'])
data_01.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75772 entries, 0 to 76805
Data columns (total 9 columns):
user_id            75772 non-null object
region             75772 non-null object
college            75772 non-null object
major              75772 non-null object
social_position    75772 non-null object
month              75772 non-null float64
weekday            75772 non-null int64
hour               75772 non-null int64
DB                 75771 non-null object
dtypes: float64(1), int64(2), object(6)
memory usage: 5.8+ MB

## 3. 데이터 파악하기

### 3.1. 전공 중 가장 많은 전공 코드를 제시하세요.

In [27]:
data_01.major.value_counts()

M04        18000
M11        10571
M09         8050
M05         7930
M08         7745
M01         6935
M06         5129
M03         4635
M02         2108
M10         1826
M07         1668
UNKNOWN     1175
Name: major, dtype: int64

### 3.2. 지역이 R02이면서 전공이 M01 이고 오전9시부터 10시까지 사용한 사람은 몇 명인지 제시하세요.

In [37]:
data_01.region.value_counts()

R01    71889
R02     3791
R03       92
Name: region, dtype: int64

In [85]:
dt1= (data_01[data_01['region']=='R02'])|(data_01[data_01['major']=='M01'])
dt1

TypeError: unsupported operand type(s) for |: 'str' and 'bool'

In [83]:
dt2 = dt1[data_01['major']=='M01'].head()

C:\Users\1pc\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

ValueError: cannot reindex from a duplicate axis

In [50]:
data_01.index = data_01['region'] + ','+ data_01['major']
data_01 = data_01.sort_index()
data_01.head()

,user_id,region,college,major,social_position,month,weekday,hour,DB
"R01,M01",U0991,R01,C0003,M01,S005,9.0,6,8,DB020
"R01,M01",U0003,R01,C0003,M01,S001,8.0,1,14,DB048
"R01,M01",U0003,R01,C0003,M01,S001,8.0,1,14,DB048
"R01,M01",U0003,R01,C0003,M01,S001,8.0,1,14,DB018
"R01,M01",U0068,R01,C0020,M01,S008,4.0,5,19,DB048

In [73]:
dt1=data_01.loc['R02,M01']
dt1.head()

,user_id,region,college,major,social_position,month,weekday,hour,DB
"R02,M01",U1899,R02,C0055,M01,S006,4.0,4,15,DB020
"R02,M01",U1899,R02,C0055,M01,S006,2.0,3,17,DB049
"R02,M01",U5326,R02,C0053,M01,S007,2.0,2,11,DB049
"R02,M01",U5260,R02,C0053,M01,S004,4.0,6,5,DB021
"R02,M01",U1899,R02,C0055,M01,S006,4.0,4,15,DB020

In [86]:
data_01_hours = ((data_01['hour']>9)|(data_01['hour']>10))
data_01_hours.sum() #bool값의 Ture값을 구하려면 Sum을 사용하자

59068

In [87]:
data_01[data_01_hours]#bool값을 다시DataFrame으로 변경하고 싶을때

,user_id,region,college,major,social_position,month,weekday,hour,DB
"R01,M01",U0003,R01,C0003,M01,S001,8.0,1,14,DB048
"R01,M01",U0003,R01,C0003,M01,S001,8.0,1,14,DB048
"R01,M01",U0003,R01,C0003,M01,S001,8.0,1,14,DB018
"R01,M01",U0068,R01,C0020,M01,S008,4.0,5,19,DB048
"R01,M01",U0068,R01,C0020,M01,S008,4.0,5,19,DB044
"R01,M01",U3092,R01,C0003,M01,S005,8.0,2,14,DB031
"R01,M01",U3092,R01,C0003,M01,S005,8.0,2,14,DB064
"R01,M01",U3376,R01,C0035,M01,S004,8.0,2,15,DB052
"R01,M01",U0193,R01,C0001,M01,S005,4.0,5,18,DB031
"R01,M01",U1469,R01,C0001,M01,S006,8.0,2,15,DB031
"R01,M01",U1469,R01,C0001,M01,S006,8.0,2,15,DB031
"R01,M01",U1469,R01,C0001,M01,S006,8.0,2,16,DB018
"R01,M01",U1469,R01,C0001,M01,S006,8.0,2,16,DB018
"R01,M01",U0359,R01,C0035,M01,S008,8.0,1,14,DB031
"R01,M01",U3092,R01,C0003,M01,S005,8.0,2,18,DB018
"R01,M01",U1010,R01,C0001,M01,S005,2.0,2,19,DB018
"R01,M01",U1010,R01,C0001,M01,S005,2.0,2,19,DB020
"R01,M01",U1010,R01,C0001,M01,S005,2.0,2,18,DB020
"R01,M01",U1010,R01,C0001,M01,S005,2.0,2,18,DB020
"R01,M01",U1010,R01,C0001,M01,S005,2.0,2,18,DB020
"R01,M01",U1010,R01,C0001,M01,S005,2.0,2,18,DB020
"R01,M01",U1010,R01,C0001,M01,S005,2.0,2,18,DB021
"R01,M01",U1010,R01,C0001,M01,S005,2.0,2,18,DB021
"R01,M01",U5201,R01,C0001,M01,S005,2.0,2,16,DB049
"R01,M01",U5201,R01,C0001,M01,S005,2.0,2,16,DB010
"R01,M01",U5201,R01,C0001,M01,S005,2.0,2,16,DB049
"R01,M01",U5201,R01,C0001,M01,S005,2.0,2,16,DB077
"R01,M01",U1313,R01,C0035,M01,S004,4.0,5,14,DB031
"R01,M01",U0794,R01,C0001,M01,S005,8.0,2,19,DB031
"R01,M01",U3961,R01,C0001,M01,S006,2.0,3,10,DB031
...,...,...,...,...,...,...,...,...,...
"R03,M10",U4492,R03,C0036,M10,S002,12.0,4,11,DB058
"R03,M10",U2561,R03,C0036,M10,S004,2.0,3,10,DB055
"R03,M10",U3325,R03,C0036,M10,S002,7.0,5,21,DB018
"R03,M10",U3325,R03,C0036,M10,S002,7.0,5,21,DB064
"R03,M10",U3325,R03,C0036,M10,S002,7.0,5,20,DB031
"R03,M10",U2561,R03,C0036,M10,S004,7.0,5,15,DB044
"R03,M10",U2561,R03,C0036,M10,S004,7.0,4,10,DB077
"R03,M10",U2561,R03,C0036,M10,S004,1.0,6,14,DB026
"R03,M10",U2561,R03,C0036,M10,S004,1.0,6,14,DB027
"R03,M10",U2561,R03,C0036,M10,S004,10.0,4,13,DB030
"R03,M10",U4492,R03,C0036,M10,S002,11.0,5,17,DB058
"R03,M10",U0277,R03,C0036,M10,S004,3.0,2,15,DB056
"R03,M10",U3325,R03,C0036,M10,S002,1.0,7,20,DB018
"R03,M10",U0277,R03,C0036,M10,S004,5.0,3,13,DB044
"R03,M10",U2561,R03,C0036,M10,S004,2.0,6,16,DB055
"R03,M10",U2561,R03,C0036,M10,S004,6.0,5,13,DB018
"R03,M10",U0222,R03,C0036,M10,S004,5.0,3,16,DB044
"R03,M10",U2561,R03,C0036,M10,S004,10.0,6,17,DB060
"R03,M10",U4492,R03,C0036,M10,S002,12.0,4,13,DB058
"R03,M10",U2561,R03,C0036,M10,S004,10.0,6,17,DB060
"R03,M10",U4492,R03,C0036,M10,S002,12.0,4,13,DB058
"R03,M10",U2561,R03,C0036,M10,S004,9.0,3,14,DB051
"R03,M10",U2561,R03,C0036,M10,S004,6.0,5,13,DB020
"R03,M10",U2561,R03,C0036,M10,S004,1.0,3,10,DB055
"R03,M10",U0277,R03,C0036,M10,S004,6.0,5,16,DB056
"R03,M10",U0277,R03,C0036,M10,S004,6.0,5,17,DB026
"R03,M10",U4492,R03,C0036,M10,S002,11.0,5,17,DB058
"R03,M10",U4492,R03,C0036,M10,S002,12.0,4,13,DB058
"R03,M10",U4492,R03,C0036,M10,S002,11.0,5,17,DB058
"R03,UNKNOWN",U4492,R03,C0036,UNKNOWN,S002,11.0,5,17,DB058

In [62]:
data02 = np.count_nonzero(data_01_hours)
data02

59068

In [67]:
dt1 = data_01.content_rating == 9

AttributeError: 'DataFrame' object has no attribute 'content_rating'

In [ ]:
cr3 = ((movie.title_year < 2000) | (movie.title_year>2009))

In [74]:
data_01[dt1]

ValueError: Must pass DataFrame with boolean values only

In [80]:
dt1 = (data_01.imdb_score) == '9'

AttributeError: 'DataFrame' object has no attribute 'imdb_score'

### 3.2 에서 구한 내용에서 컬럼명이 user_id, region, major, hour의 리스트를 보여주세요

In [63]:
cols =['imdb_score','comtent_rating','title_year']

59068

### 3.2 에서 구한 내용에서 컬럼수를 처음부터 6개만 보여주세요.

In [ ]:
.head(6)

### 3.3. 월요일(2)에 가장 빠른 시간에 이용한 기록을 5개 제시하세요.